<div>
  <h2>Login Form</h2>
  <form [formGroup]="loginForm">
    <div class="container">
      <div>
        <label for="uname"><b>Username</b></label>
        <input formControlName="username" type="text" placeholder="Enter Username">
      </div>
      <div>
        <label for="psw"><b>Password</b></label>
        <input formControlName="password" type="password" placeholder="Enter Password">
      </div>
      <button (click)="onLogin()" type="submit">Login</button>
    </div>
  </form>
</div>