<div>
    <h2>Signup Form</h2>
    <form [formGroup]="signupForm">
      <div class="container">
        <div>
            <label for="uname"><b>First Name</b></label>
            <input formControlName="firstname" type="text" placeholder="Enter First Name">
        </div>
        <div>
            <label for="uname"><b>Last Name</b></label>
            <input formControlName="lastname" type="text" placeholder="Enter Last Name">
        </div>
        <div>
            <label for="uname"><b>Email</b></label>
            <input formControlName="email" type="email" placeholder="Enter Email">
        </div>
        <div>
            <label for="uname"><b>Username</b></label>
            <input formControlName="username" type="text" placeholder="Enter Username">
        </div>
        <div>
            <label for="psw"><b>Password</b></label>
            <input formControlName="password" type="password" placeholder="Enter Password">
        </div>
        <button (click)="onSignup()" type="submit">Signup</button>
      </div>
    </form>
</div>